---
layout: default
---
<section>
  {%- assign intro = content | strip -%}{%- if intro != "" -%}<div class="intro-text">{{ content }}</div>{%- endif -%}
  <ul class="posts">
    {%- for post in site.posts -%}
    <li itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
      <a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}" itemprop="name url">{{ post.title | escape }}</a>
      <hr>
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%Y-%m-%d' }}</time>
    </li>
    {%- endfor -%}
  </ul>
</section>
